<%- include ('partials/header') -%>

<div class="container col-8">
  <div class="container">
    <p class="title"> <%= postTitle %> </p>

    <p class="body"> <%= postBody %> </p>

  </div>
</div>

<%- include ('partials/footer') -%>
